#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [324]:
import pandas as pd
import numpy as np
df = pd.read_csv('../data/supermarket_sales.csv')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [126]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [129]:
max_income_branch = df.groupby('Branch')['gross income'].max().max()
max_income_city = df[df['gross income'] == max_income_branch]['City']
max_income_city

350    Naypyitaw
Name: City, dtype: object

In [131]:
df.sort_values(by = ['gross income'], ascending = False)['City'].iloc[0]

'Naypyitaw'

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [134]:
invoices_by_category = pd.pivot_table(df, 
                             values = 'Invoice ID',
                             index = 'Branch',
                             columns = 'Product line',
                             aggfunc = "count")
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [139]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

1.В містах найбільшу кількість продажів та покупок більший середній чек роблять member type.

In [280]:
pd.pivot_table(df,
               values = ['Invoice ID','Total'],
               index = 'Customer type',
               columns = 'City',
               aggfunc = {'Invoice ID':'count',
                          'Total':'mean'})

              Invoice ID                        Total
City            Mandalay Naypyitaw Yangon    Mandalay   Naypyitaw      Yangon
Customer type
Member               165       169    167  325.482945  336.575636  321.182488
Normal               167       159    173  314.329257  337.656755  303.831763

Середній чек у member більше в Mandalay та Yangon - що підтверджує гіпотезу та показує ефективність программ лояльності.

В місті Naypyitaw найбільший середній чек серед Member та Normal клієнтів - треба дослідити стратегії які діють для двох категорій покупців та застосувати їх для інших міст.

2.Проаналізувати фактор сезонності, літом більше продаж ніж взимку?

In [322]:
def data(x):
    return int(x[0:1])
df["Month"] = df.Date.apply(data)
df.Month.value_counts()

Month
1    352
3    345
2    303
Name: count, dtype: int64

Маємо не повні данні за весь рік, треба оновити дані та повторити аналіз.

3.Які товари в місті Naypyitaw приносять найбільший прибуток?

In [365]:
sorted_by_city = df[df.City == 'Naypyitaw']
sorted_by_city.groupby('Product line')['gross income'].max()

Product line
Electronic accessories    41.17
Fashion accessories       49.65
Food and beverages        49.26
Health and beauty         45.25
Home and lifestyle        48.75
Sports and travel         47.72
Name: gross income, dtype: float64

1.Fashion accessories та Food and beverages приносять найбільший прибуток в місті Naypyitaw. Рекомендується розширити пропозицію та асортимент, а також зосередитись на активізації маркетингових програм для підвищення продажів.
2.Звернути увагу на Electronic accessories-так як звичайно ці товари вважаються маржовими. Проте, згідно з нашим аналізом, вони займають останнє місце за прибутковістю, з істотною різницею від попередньої категорії товарів.